
.place {
  margin: 1em;
  padding: 2em;
  border: 3px dashed white;
  width: 200px;
  height: 400px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  &:hover {
    background-color: rgba(0,0,255,0.1);
    cursor: pointer;
  }
}
